{{! template-lint-disable no-positive-tabindex}}
<li
  aria-controls={{this.panelId}}
  aria-disabled={{if @disabled "true" "false"}}
  aria-selected={{if this.selected "true" "false"}}
  class={{this.classNames}}
  disabled={{@disabled}}
  id={{this.elementId}}
  role="tab"
  tabindex={{this.tabIndex}}
  {{did-insert this.didInsertNode}}
  {{will-destroy this.willDestroyNode}}
  {{did-insert this.checkFocus}}
  {{did-update this.checkFocus}}
  {{on "click" this.onClick}}
  {{on "keyup" this.onKeyUp}}
  ...attributes
>
  {{yield (hash selected=this.selected)}}
</li>