<div
  aria-labelledby={{@tabId}}
  class={{this.classNames}}
  id={{this.elementId}}
  role="tabpanel"
  {{did-insert this.didInsertNode}}
  {{will-destroy this.willDestroyNode}}
  ...attributes
>
  {{~#if this.shouldYield~}}
    {{yield (hash selected=this.selected)}}
  {{/if}}
</div>